<h1>LogIn</h1>

<%= form_tag login_path, method: "post" do %>
  <table>

  <tr>
    <td><label>Email</label>
    <input type="text" name="email"/></td>
</tr>
<tr>
  <td><label>Password</label>
  <input type="password" name="password"/></td>
</tr>
<tr>
  <td>  <input type="submit" value="login"/></td>
  <td></td>
</tr>
 </table>

<% end %>
