body {
	font: 80%/1.4 Verdana, Arial, Helvetica, sans-serif;
	margin-left:5px;
	padding: 0;
  background: #fff;
	color: #000;
}

h1{
  font-family: 'Nunito', sans-serif;
  text-shadow: 3px 3px 4px #aaa;
	padding-right: 10px;
	padding-left: 0px;
	padding-top: 0px;
}
ul, ol, dl {
	padding: 0;
	margin: 0;
}
h2, h3, h4, h5, h6, p {
	margin-top: 0px;
	padding-right: 10px;
	padding-left: 0px;
	padding-top: 0px;
}

.movie-image{
  max-width: 100px;
}

a:link {
	color: #19110f;
	text-decoration: underline;
}
a:visited {
	color: #794044;
	text-decoration: none;
}

a:hover, a:active, a:focus {
	text-decoration: underline;
  color: #FF5733;
}

.container {
	max-width: 800px;
	margin: 0 auto;
  background-color: green;
  padding: 0px;
}

.maincontent {
	max-width: 800px;
	margin: 0 auto;
  background-color: #e6e6e6;
  padding: 10px;
}

.strap{
	background-color:#fff;
}

.strap1{
	height: 20px;
	width: 100%;
	background-color:#000;
}

.edge{
	height: 35px;
	background-color:#d1c6ab;
	border-left:solid #000 20px;
	text-align:right;
}


.strap2{
	height: 25px;
	width: 100%;
	background-color:#d1c6ab;
	text-align:right;
}

#pic {
	margin-top:20px;
	position:absolute;
	top:70px;
	margin-left: 40px;
}

#blurbtext {
	margin-left:0px;
  padding: 10px;
  background-color: #eef2f7;
}

#footer {
	margin-left: 5px 0;
	background: #000;
	font-size:8px;
	color:#0000;
}

.logo {
  max-width: 100px;
	position:absolute;
	top:2px;
	margin-left: 10px;
}

.navigation {
  background-color: red;
}

ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
	height:60px;
}

ul.nav li {
    float:  right;
}

ul.nav li a {
    display: block;
    color: #96755e;
    background-color: #ffffff;

    padding: 10px 5px;
    text-decoration: none;
}

ul.nav li.active a {
    color:#000;
	text-decoration:overline;
}

ul.nav li a:hover {
	color:#ff0000;
}

.account {
    float:  right;
    	margin-top: -20px;
}
